@model IEnumerable<BookingAdminPage.Models.AdminDataModell>

@{
    ViewBag.Title = "SpecificEvent";
}

<h2>SpecificEvent</h2>
<table class="table table-striped">
    <tr>
        <th>
            Event_Id
        </th>
        <th>
            User_ID
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(m => item.Event_Id)
            </td>
            <td>
                @Html.DisplayFor(m => item.User_Id)
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Tillbaka", "Events", "EventPeople")
