@model List<BookingAdminPage.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Användare</h2>

<div>
    <ul>
        @foreach (var item  in Model)
        {
            <li> @Html.ActionLink(item.Firstname + " " + item.Lastname, "People", new { Id = item.Id})</li>
        }
    </ul>
</div>