@model BookingAdminPage.Models.AdminDataModell
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div class="form-horizontal">

        <div class="form-group form-group-lg">
            <label>Event ID</label>
            @Html.EditorFor(model => model.Event_Id, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group form-group-lg">
            <label>User ID</label>
            @Html.EditorFor(model => model.User_Id, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group form-group-lg">
            <label>User type</label>
            @Html.EditorFor(model => model.User_Type, new { htmlAttributes = new { @class = "form-control" } })
        </div>


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spara" class="btn btn-info" /> | @Html.ActionLink("Tillbaka", "Index")
        </div>

    </div>
}